.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  border: 1px solid burlywood;
}

.logo {
  width: 100px;
}
a {
  text-decoration: none;
  list-style: none;
  margin: 10px;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.nav-items > ul {
  display: flex;
  align-items: center;
}
.nav-items > ul > li {
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
}
.search {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}
input {
  width: 500px;
  height: 34px;
}
button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin: 0 10px 0 0;
}
.restro-card {
  width: 200px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  word-wrap: break-word;
}
.restro-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.restro-imgItem {
  width: 100%;
}
.restro-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer_container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  height: 350px;
  width: 200px;
  background-color: #efefef;
  margin: 10px;
}
.btn-login {
  background-color: rgb(126, 173, 55);
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  border: none;
}
.menuitems {
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.menuPrice {
  color: orange;
}
.menuitems li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
.menuitems li img {
  width: 100%;
}
.menuitems li p {
  font-size: 18px;
  font-weight: bold;
}
.restromenu {
  max-width: 800px;
  min-height: 800px;
  margin: 20px auto 0;
}

.userscard {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.userscard img {
  width: 50px;
}
.usercardinfo {
  background-color: #efefef;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  border: 1px solid #b8b8b8;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
